<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photogallery"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <!-- 自定义permission -->
    <permission android:name="com.example.photogallery.PRIVATE" android:protectionLevel="signature"></permission>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 使用自定义permission -->
    <uses-permission android:name="com.example.photogallery.PRIVATE"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PhotoGalleryActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- 以下配置使当前activity可监听search intent -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        
        
        <!-- 
        	android:configChanges="keyboardHidden|orientation|screenSize" 
        	表示当键盘开关、屏幕方向改变、屏幕大小改变而发生设备配置更改，则activity应自己处理配置更改，不用再销毁重新创建
         -->
        <activity android:name=".PhotoPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            ></activity>
        
        <service android:name=".PollService" ></service>
        
        <!-- broadcast receiver 监听系统启动完毕 -->
        <receiver android:name=".StartupReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name=".NotificationReceiver" android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.example.photogallery.SHOW_NOTIFICATON"/>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
